# 1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.

In [75]:
import pandas as pd
import numpy as np

In [19]:
df_mc = pd.read_csv('marketing_campaign.csv', header = 0, sep = ',')
df_mc.shape

(10037, 6)

In [20]:
df_u = pd.read_csv('users.csv', header = 0, sep = ',')
df_u.shape

(10037, 3)

In [21]:
df_s = pd.read_csv('subscribers.csv', header = 0, sep = ',')
df_s.shape

(10037, 5)

In [22]:
df1 = df_mc.merge(df_u, how= 'left', on = 'user_id')

In [23]:
df1

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English
...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,45-55 years,German
10033,a11033,1/17/18,Email,control,German,True,55+ years,German
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German

In [24]:
df_new = df1.merge(df_s, how = 'left', on = 'user_id')

In [25]:
df_new

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English,House Ads,1/1/18,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,45-55 years,German,Email,1/17/18,1/24/18,False
10033,a11033,1/17/18,Email,control,German,True,55+ years,German,Email,1/17/18,NaN,True
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German,Email,1/17/18,NaN,True
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German,Email,1/17/18,NaN,True
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German,Email,1/17/18,NaN,True

# 2. Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.

In [27]:
df_new.info()
df_new.describe(include=['object', 'bool'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   age_group            10037 non-null  object
 7   language_preferred   10037 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10021,10022,10037,10037,10022,10037,10037,1856,1856,577,1856
unique,10037,31,5,2,4,2,7,4,5,31,115,2
top,a1000,1/15/18,House Ads,control,English,False,19-24 years,English,Instagram,1/16/18,4/2/18,True
freq,1,789,4733,5091,9793,8946,1682,9275,600,163,15,1279

# 3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.

In [114]:
converted = df_new[df_new['converted'] == True]
marketing_efficiency = converted['marketing_channel'].value_counts(normalize = True)
marketing_efficiency

House Ads    0.276952
Instagram    0.246283
Facebook     0.220260
Email        0.179368
Push         0.077138
Name: marketing_channel, dtype: float64

# 4. Определить самую раннюю дату подписки на сервис.

In [37]:
df_new['date_subscribed'].sort_values(ascending = True).head(1)

0    1/1/18
Name: date_subscribed, dtype: object

# 5. Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [109]:
users_image = df_new[df_new['is_retained'] == True]
age = users_image['age_group'].value_counts(normalize = True)
age

19-24 years    0.254887
24-30 years    0.213448
0-18 years     0.179046
30-36 years    0.095387
45-55 years    0.093041
36-45 years    0.089914
55+ years      0.074277
Name: age_group, dtype: float64

In [110]:
lang = users_image['language_preferred'].value_counts(normalize = True)
lang

English    0.921814
German     0.034402
Spanish    0.034402
Arabic     0.009382
Name: language_preferred, dtype: float64