# 1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.

In [1]:
import pandas as pd

In [19]:
df_mc = pd.read_csv('marketing_campaign.csv', header = 0, sep = ',')
df_mc.shape

(10037, 6)

In [20]:
df_u = pd.read_csv('users.csv', header = 0, sep = ',')
df_u.shape

(10037, 3)

In [21]:
df_s = pd.read_csv('subscribers.csv', header = 0, sep = ',')
df_s.shape

(10037, 5)

In [22]:
df1 = df_mc.merge(df_u, how= 'left', on = 'user_id')

In [23]:
df1

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English
...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,45-55 years,German
10033,a11033,1/17/18,Email,control,German,True,55+ years,German
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German

In [24]:
df_new = df1.merge(df_s, how = 'left', on = 'user_id')

In [25]:
df_new

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English,House Ads,1/1/18,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,45-55 years,German,Email,1/17/18,1/24/18,False
10033,a11033,1/17/18,Email,control,German,True,55+ years,German,Email,1/17/18,NaN,True
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German,Email,1/17/18,NaN,True
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German,Email,1/17/18,NaN,True
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German,Email,1/17/18,NaN,True